@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
   
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
   
}
html{
    scroll-behavior: smooth;
}
.container-fluid,#navbar{
    background-color: #252830 !important;
    height: 7vh;
    
}
#navbar a{
    color: #ffffff;
    font-weight: 700;

}

/* form reusable code */
.content-section {
   
    padding: 10px 20px;
    border: 1px solid #dddddd;
  
    margin-bottom: 20px;
    width: 40%;
    /* border-radius: 22px;
background: #e0e0e0;
box-shadow:  50px 50px 100px ,
             -50px -50px 100px; */
    border-radius: 10px;
background: #e0e0e0;
box-shadow:  5px 5px 50px ,
             -5px -5px 50px;
   
  }
 
 
  .profile{
      margin-top: 10%;
  }
  .center{
      display: grid;
      place-content: center;
  }
  body{
      background-color: #131417 !important;
  }
  .homepage{
      width: 125%;
      height: 80vh;
     
      position: relative;
      margin-left: -13%;
      margin-top: 3%;
  }
  #leftside{
      
      background-color: #131417;
      display: flex !important;
      
  }
  #rightside{
    height: 80vh;
    background-color: #252830;

  }
  .pagegrid{
      display: flex;
      gap: 1%;
  }
  #left-items{
      width: 49%;
      height: 22vh;
      background-color: #252830;
  }
  .flex-items{
      display: flex;
      gap: 18px;
      flex-wrap: wrap;
      
  }
  .flex-items p{
      color: #afb6cd;
      letter-spacing: 1px;
      font-size: 18px;
      padding-left: 10px;

  }
  .datetime span{
      color: #ffffff;
      letter-spacing: 1px;
      padding: 10px;
      padding-left: 10px;



  }
  .flex-items h3{
      color: #ffffff;
      font-weight: 700;
      font-size: 25px;
      margin: 2px;
      padding-left: 10px;
  }
  .flex-items a{
    padding-left: 10px;

  }
 
  .center{
     text-align: center;
     color: #afb6cd;
     letter-spacing: 1px;
     font-size: 18px;
  }
  .randomq{
      margin-top: 6%;

  }
  .center1{
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
  }
  .trending img{
      width: 100px;
      height: 100px;
  }
  .post1{
      display: flex;
      gap: 1%;
      margin: 15px;
      border-radius: 50px;
      border-radius: 10px;
                background: #252830;
                box-shadow:  5px 5px 0px #17191e,
                             -5px -5px 0px #333742;   

    
     

                         
  }
  .trending h3{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    text-align: center;

  }
  .trending h4{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    

  }
  /* .trending-number{
    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: 15;
    width: 3rem;
    height: 3rem;
    background-color: var(--secondary-background-color);
    color: var(--light-color);
    border-radius: 50%;
} */
  .trending p{
    color: #afb6cd;
    letter-spacing: 1px;
    font-size: 18px;
  

  }
#footer{
    background-color: #ffffff;
}
.place-center{
  
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.flashed{
    display: flex;
    justify-content: center;
    margin-top: 1%;

}
.comment a{
    text-decoration: none;

    

}
