@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
   
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
   
}
html{
    scroll-behavior: smooth;
}
.container-fluid,#navbar{
    background-color: #252830 !important;
    height: 7vh;
    
}
#navbar a{
    color: #ffffff;
    font-weight: 700;

}

/* form reusable code */
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 40%;
   
  }