{% extends 'base.html' %}
{% block content %}
<div class="place-center">
<div class="content-section">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        
        <fieldset class="form-group">
            <legend class="border-bottom" id="leg">{{ header }}</legend>
            
            
            <div class="form-group">
                {{ form.comment.label(class ="form-control-label")}}
                {% if form.comment.errors %}
                    {{ form.comment(class ="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.comment.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>

                {% else %}    
                   {{ form.comment(class ="form-control form-control-lg")}}
                    
                
                {% endif %}

            </div>
            
     
        </fieldset>
        <div class="form-group">
             {{ form.submit(class = "btn btn-success") }}
        </div>
        

    </form>
    {% for blog in blog%}


    <div>

       

        
    

        <p>{{blog.comment}}</p>

       

</div>


    {% endfor  %}


   

    

</div>
</div>

{% endblock content %}

