{%extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="homepage">
        <div class="pagegrid">
            <div class="card" style="width: 74%;" id="leftside">
                <div class="flex-items">
                    {% for blog in blog.items %}
                <div class="card" id="left-items">
                    <div class="datetime">
                        <span>{{ blog.posted.strftime("%d %b, %Y") }}</span>
                        <span><i class="fa-solid fa-clock"></i></span>
                        <span>3 Min read</span>
                    </div>
                    <h3>{{ blog.title }}</h3>
                    <p>{{ blog.content |truncate(100) }}</p>

                   
                    
                    <a href="{{ url_for('comment_blog',blog_id=blog.id)}}"><i class="ri-question-answer-line" style="color: lightseagreen;">{{  blog.comments.count(blog_id)}}</i> </a>
                    
                    <div class="buttons">

                        {% if blog.author == current_user %}
                        <div>
                           <a class="btn btn btn-outline-info btn-sm m-1" href="{{url_for('update_blog',blog_id=blog.id)}} ">Edit post</a>
                            
                           <a class="btn btn btn-outline-danger btn-sm m-1" href="{{url_for('delete_post', post_id=blog.id)}}">Delete</a>

                        </div>
                        {% endif %}

                    </div>
                    

                </div>
                {% endfor  %}



    {% for page_num in blog.iter_pages()  %}


    <div class="pagebtns">

              
      
        {% if page_num %}
            {% if blog.page == page_num %}
              <a class="btn btn-secondary btn-sm" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
              <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
    
          ..
    
        {% endif %}
    </div>
    {% endfor %}
               
               </div>

               {% for blog_comments in blog_comments %}
               <div>
                 <p>{{blog_comments.comment}}</p>  
               </div>
               {% endfor %}
              
            

            </div>
            <div class="card" id="rightside" style="width: 28%;">
                 <div class="randomq">
                     <h3 class="center1">Random Quote</h3>
                     <p class="center">{{ quote.quote |truncate(150) }}</p>
                     <p class="center">~{{ quote.author }}</p>
                     
                 </div>
                 <div class="trending">
                     <h3>Trending posts</h3>
                     <div class="post1">
                     <div class="imagetrend">
                         <img src="{{url_for('static',filename='assets/flam.jpg')}}" alt="no image">
                     </div>
                     <div class="trenddata">
                         <h4><a href="https://www.theatlantic.com/culture/archive/2021/04/problem-nature-documentaries/618553/" target="_blank">The atlantic</a></h4>
                         <p>“Who Owns America’s Wilderness?”</a>
                          
                     </div>
                     <hr>
                    </div>
                    <div class="post1">
                        <div class="imagetrend">
                            <img src="{{url_for('static',filename='assets/neum.png')}}" alt="no image">
                        </div>
                        <div class="trenddata">
                            <h4><a href="https://userguiding.com/blog/ux-ui-trends/" target="_blank">Neumorphism</a></h4>
                            <p>Neuromorphic UI’s are elegant..</a>
                             
                        </div>
                        <hr>
                       </div>
                       <div class="post1">
                        <div class="imagetrend">
                            <img src="{{url_for('static',filename='assets/health.jpeg')}}" alt="no image">
                        </div>
                        <div class="trenddata">
                            <h4><a href="https://www.theatlantic.com/culture/archive/2021/04/problem-nature-documentaries/618553/" target="_blank">Health</a></h4>
                            <p>COVID-19 cases in the United States have been rising</p>
                             
                        </div>
                        <hr>
                       </div>
                       <div class="post1">
                        <div class="imagetrend">
                            <img src="{{url_for('static',filename='assets/crypt.jpg')}}" alt="no image">
                        </div>
                        <div class="trenddata">
                            <h4><a href="https://www.theatlantic.com/culture/archive/2021/04/problem-nature-documentaries/618553/" target="_blank"> Cryptocurrency</a></h4>
                            <p>The Return of Crypto Payments. Presented by Circle.</p>
                             
                        </div>
                        <hr>
                       </div>
                    

                 </div>

            </div>
        </div>

    </div>


    

   
     
</div>



   

    



{% endblock %}