{%extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="homepage">
        <div class="pagegrid">
            <div class="card" style="width: 74%;" id="leftside">
                <div class="flex-items">
                    {% for blog in blog %}
                <div class="card" id="left-items">
                    <div class="datetime">
                        <span>23 Dec 2020</span>
                        <span><i class="fa-solid fa-clock"></i></span>
                        <span>3 Min read</span>
                    </div>

                    <h3>{{ blog.title }}</h3>>
                    
                    <p>{{ blog.content }}</p>
                    <div class="buttons">
                        <span><a href="">Comment</a></span>
                        <span><a href="">Update</a></span>
                        <span><a href="">Delete</a></span>
                        <span><a href="">Delete</a></span>
                        <span><a href="">{{blog.id}}</a></span>


                        
                        {% if blog.author == current_user %}
                        <div>
                           <a class="btn btn-primary btn-sm m-1" href="">Update</a> 
                           <a class="btn btn-primary btn-sm m-1" href="{{url_for('delete_post', post_id=blog.id)}}">Delete</a>

                           <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#DeleteModal">Delete</button>
                        </div>
                        {% endif %}

                    </div>
                    

                </div>
                {% endfor  %}
                <div class="card" id="left-items">
                    
                </div>
                <div class="card" id="left-items">
                    
                    <i class="fa-solid fa-house-user"></i>

                    
                </div>
                <!-- <div class="card" id="left-items">
                    
                </div>
                <div class="card" id="left-items">
                    
                </div>
                <div class="card" id="left-items">
                    
                </div>
                <div class="card" id="left-items">
                    
                </div> -->
            </div>

            </div>
            <div class="card" id="rightside" style="width: 28%;">

            </div>
        </div>

    </div>
</div>



   

    



{% endblock %}