{% extends 'base.html' %}
{% block content %}

 <!-- Newsletter -->
 <div class="place-center">
 <div class="content-section">
 <section class="newsletter section">

    <div class="container">

        <h2 class="title section-title" data-name="Newsletter">Just-a-Journal</h2>

        <div class="form-container-inner">
            
            <p class="newsletter-description">Subscribe now to receive email updates whenever a new post is added to Just-a-Journal</p>

            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom">Subscribe</legend>
                   
                    <div class="form-group">
                        {{ form.email.label(class ="form-control-label")}}
                        {% if form.email.errors %}
                            {{ form.email(class ="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{error}}</span>
                                {% endfor %}
                            </div>
            
                        {% else %}    
                           {{ form.email(class ="form-control form-control-lg")}}
                            
                        
                        {% endif %}
            
                    </div>  
                   
                
            
                </fieldset>
                <div class="form-group">
                     {{ form.submit(class = "btn btn-success") }}
                </div>
            
            </form>

        </div>

    </div>

</section>
</div>
</div>



     

{% endblock content %}